* {
    padding: 0%;
    margin: 0%;
}

ul {
    display: grid; 
    grid-auto-flow: column;
    list-style-type: none;
    justify-content: space-around;
}

header {
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 98vw;
}

.first, .second {
    display: grid;
    justify-items: center;
}

.second {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 98vw;
}