* {
    padding: 0%;
    margin: 0%;
}

.header-ul {
    display: grid; 
    grid-auto-flow: column;
    list-style-type: none;
    justify-content: space-around;
}

header, .mini-header {
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 98vw;
}

.first, .second {
    display: grid;
    justify-items: center;
}

.second {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 98vw;
}

@media (min-width:800px) {
    .mini-header {
        display: none ;
    }
}

@media (max-width:800px) {
    header {
        display: none;
    }
}

.mini-ul {
    display: none;
}

.mini-header:hover .mini-ul {
    display: block;
}