* {
    padding: 0%;
    margin: 0%;
}

html {
    background-color: rgb(225, 241, 232);
    display: grid;
    justify-content: center;
}

body {
    display: grid;
    justify-content: center;
    background-color: white;
}

.content {
    display: grid;
    grid-auto-columns: 75vw;
    justify-content: center;
}
header {
    background-color: white;
    display: grid;
    grid-auto-columns: 100vw;
    position: fixed;
    border-bottom: 1px solid black;
}

.top {
    display: grid;
    background-image: url('img/top.jpg');
    text-align: center;
    grid-template-columns: 99vw;
    grid-template-rows: 99vh;
    align-items: center;
}

.rinswind, .witches, .death, .guard, .postal {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-around;
}

.right {
    display: grid;
    /* justify-items: flex-start; */
    justify-content: space-around;
}

.left {
    display: grid;
    justify-content: space-around;
}