* {
        margin: 0;
        padding: 0;
}

header {
        display: grid;
        background-color: #171a21;
        color: #c7c5c3;
}

header ul, header li {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-around;
        align-content: center;
}

.content {
        display: grid;
        background-color: #1c3e55;
        grid-auto-flow: column;
        justify-content: space-around;
}

.content ul{
        color: #66c0f4;
}

ul {
        list-style-type: none;
}

.carousel {
        display: grid;
        color: white;
}

.book {
        display: grid;
        grid-auto-flow: column;
}