* {
    padding: 0%;
    margin: 0%;
}

.mor-item {
    background-image: url('img/mor.jpg');
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
}

.rock-item {
    background-image: url('img/rock.jpg');
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
}

.santa-item {
    background-image: url('img/santa.jpg');
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
}

.zhnech-item {
    background-image: url('img/zhnech.jpg');
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
}

.vor-item {
    background-image: url('img/vor.jpg');
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
}

input[name=reading-mor]:checked ~ .mor-item {
    opacity: .5;
    background-image: url('img/read.jpg');
 }

 input[name=reading-rock]:checked ~ .rock-item {
    opacity: .5;
    background-image: url('img/read.jpg');
 }
 
 input[name=reading-santa]:checked ~ .santa-item {
    background-image: url('img/read.jpg');
    opacity: .5;
 }

 input[name=reading-zhnech]:checked ~ .zhnech-item {
    background-image: url('img/read.jpg');
    opacity: .5;
 }

 input[name=reading-vor]:checked ~ .vor-item {
    background-image: url('img/read.jpg');
    opacity: .5;
 }


#read {
    cursor: pointer;
}

body {
    background-color: aliceblue;
    display: grid;
    grid-gap: 1vw;
}

.empty {
    height: 5vh;
}

header {
    cursor: pointer;
    position: fixed;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
}

footer {
    background-color: azure;
}

.top {
    grid-template-columns: 1fr;
    display: grid;
    background-image: url('img/turtle.jpg');
    background-size: cover;
    text-align: center;
    color: goldenrod;
    grid-template-rows: 88vh;
    align-items: center;
}

.content {
    display: grid;
    grid-auto-flow: row;
    /* grid-gap: 10px; */
    color: gold;
}

.death-page {
    display: grid;
    text-align: center;
    justify-items: center;
}

  .rinswind, .witches, .death, .guards, .postman {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: column;
      justify-items: center;
      align-items: center;
      /* border: 1px solid black; */
  }

.rinswind {
        background-color: #d6a0d2;
    }

.witches {
    background-color: #526a30;
}

.death {
    background-color: #251d2c;
}

.guards {
    background-color: #4f1f1d;
}

.postman {
    background-color: #382988;
}

  .block {
      display: grid;
  }

  a {
      text-decoration: none;
  }
