* {
    padding: 0%;
    margin: 0%;
}

html {
    background-color: antiquewhite;
}

.item {
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
}

.mor {
    background-image: url('img/mor.jpg');
}

.rock {
    background-image: url('img/rock.jpg');

}

.santa {
    background-image: url('img/santa.jpg');
}

.zhnech {
    background-image: url('img/zhnech.jpg');
}

.vor {
    background-image: url('img/vor.jpg');
}

input[name=reading-mor]:checked ~ .mor {
    background-image: url('img/read.jpg');
 }

 input[name=reading-rock]:checked ~ .rock {
    background-image: url('img/read.jpg');
 }
 
 input[name=reading-santa]:checked ~ .santa {
    background-image: url('img/read.jpg');
 }

 input[name=reading-zhnech]:checked ~ .zhnech {
    background-image: url('img/read.jpg');
 }

 input[name=reading-vor]:checked ~ .vor {
    background-image: url('img/read.jpg');
 }


#read {
    cursor: pointer;
}

body {
    display: grid;
    justify-content: center;
}

.empty {
    height: 10vh;
}

header {
    cursor: pointer;
    position: fixed;
    width: 100%;
    text-align: center;
}

footer {
    background-color: azure;
}

.top {
    display: grid;
    background-image: url('img/turtle.jpg');
    background-size: contain;
    text-align: center;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    justify-items: center;
}

.content {
    display: grid;
    color: gold;
    grid-template-columns: repeat(auto-fit, 300px);
}

.death-page {
    display: grid;
    text-align: center;
    justify-items: center;
}

  .rinswind, .witches, .death, .guards, .postman {
      display: grid;
      justify-items: center;
      align-items: center;
  }

.rinswind {
        background-color: #d6a0d2;
    }

.witches {
    background-color: #526a30;
}

.death {
    background-color: #251d2c;
}

.guards {
    background-color: #4f1f1d;
}

.postman {
    background-color: #382988;
}

  .block {
      display: grid;
  }

  a {
      text-decoration: none;
  }
