* {
    padding: 0%;
    margin: 0%;
}

html {
    background-color: rgb(225, 241, 232);
    display: grid;
    justify-content: center;
}

body {
    display: grid;
    justify-content: center;
    background-color: white;
}

.content {
    display: grid;
}
header {
    background-color: white;
    display: grid;
    grid-auto-columns: 100vw;
    position: fixed;
    border-bottom: 1px solid black;
}

.top {
    display: grid;
    background-image: url('img/top.jpg');
    text-align: center;
    grid-template-columns: 99vw;
    grid-template-rows: 99vh;
    align-items: center;
}

.rinswind, .witches, .death, .guard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.rinswind .pic {
    display: grid;
    justify-items: flex-end;
}

.death .pic {
    display: grid;
    justify-items: flex-end;
}